<!-- views/auth.ejs -->
<!doctype html>
<html>
<head>
    <title>Gontacts</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body        { padding-top:70px; }
    </style>
</head>
<body>
<div>
    <div class="text-center">
        <p>See your most recenlty changed contacts</p>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> Google</a>
    </div>
</div>
</body>
</html> 